# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. C++
1. Javascript
1. Scala
1. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
1. Scikit-learn
1. Pandas

|Data Science Tools|
|--|
|Apache|
|RStudio|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

#### This is the code for the product of two numbers

In [12]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by dividing by 60
minutes = 200
calc = (minutes/60)
print(f'{calc:.2f} hours')

3.33 hours

- List popular languages for Data Science
    - Python
    - R
    - SQL
    - C++
    - JavaScript

## Justin Tineo